beautifulsoup4==4.12.2
Bio==1.5.9
docx2pdf==0.1.8
geopandas==0.13.0
matplotlib==3.7.1
numpy==1.24.3
pandas==2.0.1
Pillow==9.5.0
Pillow==9.5.0
pygetpapers==1.2.5
pynput==1.7.6
pywin32==306
Requests==2.31.0
scikit_learn==1.2.2
seaborn==0.12.2
selenium==4.9.1
setuptools==65.5.0
speedtest==0.0.1
spotipy==2.23.0
textract==1.6.5
webdriver_manager==3.8.6
